{{ define "main" }}
  <main role="main" 
        class="column is-two-thirds
               blog-column box-deco has-background-white">
    <article class="blog-post">
      <h4 class="title is-4">{{ .Title | default .Site.Title }}</h4>
      {{ .Content }}
    </article>
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="sidebar column is-one-thirds is-paddingless">
    {{ partial "widget/recent-post.html" . }}
  </aside>
{{ end }}
