{{ define "main" }}
<main role="main" 
      class="column is-full box-deco has-background-white">
  <header>
    <h4 class="title is-4">{{ .Title | default .Site.Title }}</h4>
  </header>
  
  <br/>

  <section class="section">
    {{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
    {{ partial "pagination/06-screenreader.html" (dict "p" $paginator "s" .Scratch) }}
  </section>
  
  <br/>

  <div class="post-list">
  {{ range $paginator.Pages }}
    <section class="section" id="archive">
      {{ partial "summary/blog-list.html" . }}
    </section>
  {{ end }}
  </div>
</main>
{{ end }}

{{ define "pagination-steps" }}
{{/*
  You may choose one of our pagination:

  {{ partial "pagination/01-simple.html" (dict "p" $paginator) }}
  {{ partial "pagination/02-number.html" (dict "p" $paginator) }}
  {{ partial "pagination/03-adjacent.html" (dict "p" $paginator "s" .Scratch) }}
  {{ partial "pagination/04-indicator.html" (dict "p" $paginator "s" .Scratch) }}
  {{ partial "pagination/05-responsive.html" (dict "p" $paginator "s" .Scratch) }}
  {{ partial "pagination/06-screenreader.html" (dict "p" $paginator "s" .Scratch) }}
*/}}

{{ end }}
