<section class="panel is-light">
  <div class="panel-header">
    <p>Linux/BSD Customization</p>
    <span class="fa fa-child"></span>
  </div>
  <div class="panel-body has-background-white">
    <ul class="panel-list">
      {{ range first 5 (shuffle .Site.Data.archives_github) }}
      <li><a href="http://epsi-rns.github.io{{ .url }}">{{ .title }}</a></li>
      {{ end }}
    </ul>
  </div>
</section>
