
  <div class ="anchor-target archive-year" 
       id="{{ .Key }}">{{ .Key }}</div>

  <div class="archive-list archive-p3">
    {{ range .Pages }}
    <div class="archive-item">
      <div class="is-pulled-left"><a href="{{ .URL | absURL }}">
        {{ .Title }}
      </a></div>
      <div class="is-pulled-right has-text-right"><time>
          {{ .Date.Format "02 Jan" }}&nbsp;
          <span class="fa fa-calendar"></span>
      </time></div>
      <div class="is-clearfix"></div>
    </div>
    {{ end }}
  </div>
