<nav class="pagination is-centered" 
     role="navigation" aria-label="pagination">

    <!-- Previous Page. -->
    {{ if .Page.PrevPage }}
      <a class="pagination-previous post-previous"
         href="{{ .Page.PrevPage.URL | absURL }}"
         title="{{ .Page.PrevPage.Title }}">&laquo;&nbsp;</a>
    {{ end }}

    {{ if .Page.NextPage }}
      <a class="pagination-next post-next"
         href="{{ .Page.NextPage.URL | absURL }}" 
         title="{{ .Page.NextPage.Title }}">&nbsp;&raquo;</a>
    {{ end }}
</nav>
