+++
type       = "landing"
+++

  <h2 class="title is-5">Welcome to My Bulma Portofolio</h2>

  <br/>

  <p>
    <a href="{{< baseurl >}}pages/archives" 
       class="button is-dark has-margin-bottom-5">Articles Sorted by Month</a>
    <a href="{{< baseurl >}}tags" 
       class="button is-primary has-margin-bottom-5">Articles Sorted by Tag</a>
  </p>

  <br/>

  <div class="justify-content-center">
    <img src="{{< baseurl >}}site/images/adverts/one-page.png" 
         class="bio-photo" 
         alt="business card">
  </div>

  <br/>

  <p class="lead text-muted">
    <span class="fas fa-home"></span>&nbsp;
      Jalan Sendirian, Komplek Perbucinan,
      Monday Market, East Jakarta, 55112, Indonesia.
  </p>
