  {{ $year := .Key }}
  <div class ="anchor-target archive-year" 
       id="{{ $year }}">
       {{- if eq .Key (now.Format "2006") -}}
         This year's posts ({{ $year }})
       {{- else -}}
         {{ .Key }}
       {{- end -}}
       </div>

  {{ range (.Pages.GroupByDate "January") }}
  {{ $month := .Key }}
  <div class="archive-p4">
    <div class ="archive-month" 
         id="{{ $year }}-{{ $month }}">
         {{ $month }} - {{ $year }}</div>

    <div class="archive-list archive-p3">
      {{ range .Pages }}
      <div class="archive-item">
        <div class="is-pulled-left"><a href="{{ .URL | absURL }}">
          {{ .Title }}
        </a></div>
        <div class="is-pulled-right has-text-right"><time>
            {{ .Date.Format "02 Jan" }}&nbsp;
            <span class="fas fa-calendar"></span></time></div>
        <div class="is-clearfix"></div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
