<footer class="site-footer">
  <div class="navbar is-fixed-bottom maxwidth
        is-white has-text-centered is-vcentered footer-deco">
    <div class="column">
      &copy; {{ now.Year }}.
    </div>
  </div>
</footer>
