{{ define "main" }}
  <main role="main" 
        class="column is-two-thirds blog-column box-deco has-background-white">
    <div class="blog-post" itemscope itemtype="http://schema.org/BlogPosting">
      {{ partial "post/header.html" . }}

      <article class="main-content" itemprop="articleBody">
        {{- with .Page.Params.toc -}}
          {{ partial (print . ".html") . }}
          <br/>
        {{- end -}}

        {{/* partial "service-google-adsense.html" . */}}
        <br/>
        {{ .Content }}
      </article>

      <br/>
      {{ partial "post/navigation.html" . }}
    </div><!-- /.blog-post -->
    
    {{ partial "post/footer.html" . }}
    {{/* partial "service-disqus-comments.html" . */}}
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="sidebar column is-one-thirds is-paddingless">
    {{ partial "widget/recent-post.html" . }}
    {{ partial "widget/categories.html" . }}
    {{ partial "widget/tags.html" (dict "taxonomies" .Site.Taxonomies "view_tag_type" "before") }}
  </aside>
{{ end }}

{{ define "main-simple" }}
  <main role="main" 
        class="column is-two-thirds blog-column box-deco has-background-white">
    <div class="blog-post">
      <section>
        <h4 class="title is-4 blog-post-title">{{ .Title | default .Site.Title }}</h4>
        <p  class="blog-post-meta"
            >{{ .Page.Date.Format "January 02, 2006" }} by <a href="#">epsi</a></p>
      </section>

      <article>
        {{ .Content }}
      </article>
    </div><!-- /.blog-post -->
  </main>
{{ end }}

{{ define "aside-long" }}
  <aside class="sidebar column is-one-thirds is-paddingless">
    {{ partial "widget/friends.html" . }}
    {{ partial "widget/related-posts.html" . }}

    {{ partial "widget/categories.html" . }}
    {{ partial "widget/archives.html" . }}

    {{ partial "widget/tags.html" (dict "taxonomies" .Site.Taxonomies "view_tag_type" "before") }}
    {{ partial "widget/recent-post.html" . }}

    {{ partial "widget/archives-github.html" . }}
    {{ partial "widget/archives-gitlab.html" . }}

    {{ partial "widget/oto-spies.html" . }}
    {{ partial "widget/affiliates.html" . }}
  </aside>
{{ end }}
