<section class="panel is-light">
  <div class="panel-header">
    <p>Car Painting and Body Repair</p>
    <span class="fa fa-car-side"></span>
  </div>
  <div class="panel-body has-background-white">
    <div class="has-text-centered">
      <a href="http://oto-spies.info/">
        <img src="{{ "images/adverts/oto-spies-01.png" | absURL }}"
             alt="Oto Spies"></a>
    </div>
  </div>
</section>
