.has-margin-5 {
  margin: 5px !important;
}

.has-padding-5 {
  padding: 5px !important;
}

.has-margin-top-5 {
  margin-top: 5px !important;
}

.has-padding-top-5 {
  padding-top: 5px !important;
}

.has-margin-bottom-5 {
  margin-bottom: 5px !important;
}

.has-padding-bottom-5 {
  padding-bottom: 5px !important;
}

.has-margin-left-5 {
  margin-left: 5px !important;
}

.has-padding-left-5 {
  padding-left: 5px !important;
}

.has-margin-right-5 {
  margin-right: 5px !important;
}

.has-padding-right-5 {
  padding-right: 5px !important;
}

.has-margin-10 {
  margin: 10px !important;
}

.has-padding-10 {
  padding: 10px !important;
}

.has-margin-top-10 {
  margin-top: 10px !important;
}

.has-padding-top-10 {
  padding-top: 10px !important;
}

.has-margin-bottom-10 {
  margin-bottom: 10px !important;
}

.has-padding-bottom-10 {
  padding-bottom: 10px !important;
}

.has-margin-left-10 {
  margin-left: 10px !important;
}

.has-padding-left-10 {
  padding-left: 10px !important;
}

.has-margin-right-10 {
  margin-right: 10px !important;
}

.has-padding-right-10 {
  padding-right: 10px !important;
}

.has-margin-15 {
  margin: 15px !important;
}

.has-padding-15 {
  padding: 15px !important;
}

.has-margin-top-15 {
  margin-top: 15px !important;
}

.has-padding-top-15 {
  padding-top: 15px !important;
}

.has-margin-bottom-15 {
  margin-bottom: 15px !important;
}

.has-padding-bottom-15 {
  padding-bottom: 15px !important;
}

.has-margin-left-15 {
  margin-left: 15px !important;
}

.has-padding-left-15 {
  padding-left: 15px !important;
}

.has-margin-right-15 {
  margin-right: 15px !important;
}

.has-padding-right-15 {
  padding-right: 15px !important;
}

.has-margin-20 {
  margin: 20px !important;
}

.has-padding-20 {
  padding: 20px !important;
}

.has-margin-top-20 {
  margin-top: 20px !important;
}

.has-padding-top-20 {
  padding-top: 20px !important;
}

.has-margin-bottom-20 {
  margin-bottom: 20px !important;
}

.has-padding-bottom-20 {
  padding-bottom: 20px !important;
}

.has-margin-left-20 {
  margin-left: 20px !important;
}

.has-padding-left-20 {
  padding-left: 20px !important;
}

.has-margin-right-20 {
  margin-right: 20px !important;
}

.has-padding-right-20 {
  padding-right: 20px !important;
}

.has-margin-25 {
  margin: 25px !important;
}

.has-padding-25 {
  padding: 25px !important;
}

.has-margin-top-25 {
  margin-top: 25px !important;
}

.has-padding-top-25 {
  padding-top: 25px !important;
}

.has-margin-bottom-25 {
  margin-bottom: 25px !important;
}

.has-padding-bottom-25 {
  padding-bottom: 25px !important;
}

.has-margin-left-25 {
  margin-left: 25px !important;
}

.has-padding-left-25 {
  padding-left: 25px !important;
}

.has-margin-right-25 {
  margin-right: 25px !important;
}

.has-padding-right-25 {
  padding-right: 25px !important;
}

.has-margin-30 {
  margin: 30px !important;
}

.has-padding-30 {
  padding: 30px !important;
}

.has-margin-top-30 {
  margin-top: 30px !important;
}

.has-padding-top-30 {
  padding-top: 30px !important;
}

.has-margin-bottom-30 {
  margin-bottom: 30px !important;
}

.has-padding-bottom-30 {
  padding-bottom: 30px !important;
}

.has-margin-left-30 {
  margin-left: 30px !important;
}

.has-padding-left-30 {
  padding-left: 30px !important;
}

.has-margin-right-30 {
  margin-right: 30px !important;
}

.has-padding-right-30 {
  padding-right: 30px !important;
}

.has-margin-35 {
  margin: 35px !important;
}

.has-padding-35 {
  padding: 35px !important;
}

.has-margin-top-35 {
  margin-top: 35px !important;
}

.has-padding-top-35 {
  padding-top: 35px !important;
}

.has-margin-bottom-35 {
  margin-bottom: 35px !important;
}

.has-padding-bottom-35 {
  padding-bottom: 35px !important;
}

.has-margin-left-35 {
  margin-left: 35px !important;
}

.has-padding-left-35 {
  padding-left: 35px !important;
}

.has-margin-right-35 {
  margin-right: 35px !important;
}

.has-padding-right-35 {
  padding-right: 35px !important;
}

.has-margin-40 {
  margin: 40px !important;
}

.has-padding-40 {
  padding: 40px !important;
}

.has-margin-top-40 {
  margin-top: 40px !important;
}

.has-padding-top-40 {
  padding-top: 40px !important;
}

.has-margin-bottom-40 {
  margin-bottom: 40px !important;
}

.has-padding-bottom-40 {
  padding-bottom: 40px !important;
}

.has-margin-left-40 {
  margin-left: 40px !important;
}

.has-padding-left-40 {
  padding-left: 40px !important;
}

.has-margin-right-40 {
  margin-right: 40px !important;
}

.has-padding-right-40 {
  padding-right: 40px !important;
}

.has-margin-45 {
  margin: 45px !important;
}

.has-padding-45 {
  padding: 45px !important;
}

.has-margin-top-45 {
  margin-top: 45px !important;
}

.has-padding-top-45 {
  padding-top: 45px !important;
}

.has-margin-bottom-45 {
  margin-bottom: 45px !important;
}

.has-padding-bottom-45 {
  padding-bottom: 45px !important;
}

.has-margin-left-45 {
  margin-left: 45px !important;
}

.has-padding-left-45 {
  padding-left: 45px !important;
}

.has-margin-right-45 {
  margin-right: 45px !important;
}

.has-padding-right-45 {
  padding-right: 45px !important;
}

.has-margin-50 {
  margin: 50px !important;
}

.has-padding-50 {
  padding: 50px !important;
}

.has-margin-top-50 {
  margin-top: 50px !important;
}

.has-padding-top-50 {
  padding-top: 50px !important;
}

.has-margin-bottom-50 {
  margin-bottom: 50px !important;
}

.has-padding-bottom-50 {
  padding-bottom: 50px !important;
}

.has-margin-left-50 {
  margin-left: 50px !important;
}

.has-padding-left-50 {
  padding-left: 50px !important;
}

.has-margin-right-50 {
  margin-right: 50px !important;
}

.has-padding-right-50 {
  padding-right: 50px !important;
}

.has-margin-55 {
  margin: 55px !important;
}

.has-padding-55 {
  padding: 55px !important;
}

.has-margin-top-55 {
  margin-top: 55px !important;
}

.has-padding-top-55 {
  padding-top: 55px !important;
}

.has-margin-bottom-55 {
  margin-bottom: 55px !important;
}

.has-padding-bottom-55 {
  padding-bottom: 55px !important;
}

.has-margin-left-55 {
  margin-left: 55px !important;
}

.has-padding-left-55 {
  padding-left: 55px !important;
}

.has-margin-right-55 {
  margin-right: 55px !important;
}

.has-padding-right-55 {
  padding-right: 55px !important;
}

.has-margin-60 {
  margin: 60px !important;
}

.has-padding-60 {
  padding: 60px !important;
}

.has-margin-top-60 {
  margin-top: 60px !important;
}

.has-padding-top-60 {
  padding-top: 60px !important;
}

.has-margin-bottom-60 {
  margin-bottom: 60px !important;
}

.has-padding-bottom-60 {
  padding-bottom: 60px !important;
}

.has-margin-left-60 {
  margin-left: 60px !important;
}

.has-padding-left-60 {
  padding-left: 60px !important;
}

.has-margin-right-60 {
  margin-right: 60px !important;
}

.has-padding-right-60 {
  padding-right: 60px !important;
}

.has-margin-65 {
  margin: 65px !important;
}

.has-padding-65 {
  padding: 65px !important;
}

.has-margin-top-65 {
  margin-top: 65px !important;
}

.has-padding-top-65 {
  padding-top: 65px !important;
}

.has-margin-bottom-65 {
  margin-bottom: 65px !important;
}

.has-padding-bottom-65 {
  padding-bottom: 65px !important;
}

.has-margin-left-65 {
  margin-left: 65px !important;
}

.has-padding-left-65 {
  padding-left: 65px !important;
}

.has-margin-right-65 {
  margin-right: 65px !important;
}

.has-padding-right-65 {
  padding-right: 65px !important;
}

.has-margin-70 {
  margin: 70px !important;
}

.has-padding-70 {
  padding: 70px !important;
}

.has-margin-top-70 {
  margin-top: 70px !important;
}

.has-padding-top-70 {
  padding-top: 70px !important;
}

.has-margin-bottom-70 {
  margin-bottom: 70px !important;
}

.has-padding-bottom-70 {
  padding-bottom: 70px !important;
}

.has-margin-left-70 {
  margin-left: 70px !important;
}

.has-padding-left-70 {
  padding-left: 70px !important;
}

.has-margin-right-70 {
  margin-right: 70px !important;
}

.has-padding-right-70 {
  padding-right: 70px !important;
}

.has-margin-75 {
  margin: 75px !important;
}

.has-padding-75 {
  padding: 75px !important;
}

.has-margin-top-75 {
  margin-top: 75px !important;
}

.has-padding-top-75 {
  padding-top: 75px !important;
}

.has-margin-bottom-75 {
  margin-bottom: 75px !important;
}

.has-padding-bottom-75 {
  padding-bottom: 75px !important;
}

.has-margin-left-75 {
  margin-left: 75px !important;
}

.has-padding-left-75 {
  padding-left: 75px !important;
}

.has-margin-right-75 {
  margin-right: 75px !important;
}

.has-padding-right-75 {
  padding-right: 75px !important;
}

.has-margin-80 {
  margin: 80px !important;
}

.has-padding-80 {
  padding: 80px !important;
}

.has-margin-top-80 {
  margin-top: 80px !important;
}

.has-padding-top-80 {
  padding-top: 80px !important;
}

.has-margin-bottom-80 {
  margin-bottom: 80px !important;
}

.has-padding-bottom-80 {
  padding-bottom: 80px !important;
}

.has-margin-left-80 {
  margin-left: 80px !important;
}

.has-padding-left-80 {
  padding-left: 80px !important;
}

.has-margin-right-80 {
  margin-right: 80px !important;
}

.has-padding-right-80 {
  padding-right: 80px !important;
}

.has-margin-85 {
  margin: 85px !important;
}

.has-padding-85 {
  padding: 85px !important;
}

.has-margin-top-85 {
  margin-top: 85px !important;
}

.has-padding-top-85 {
  padding-top: 85px !important;
}

.has-margin-bottom-85 {
  margin-bottom: 85px !important;
}

.has-padding-bottom-85 {
  padding-bottom: 85px !important;
}

.has-margin-left-85 {
  margin-left: 85px !important;
}

.has-padding-left-85 {
  padding-left: 85px !important;
}

.has-margin-right-85 {
  margin-right: 85px !important;
}

.has-padding-right-85 {
  padding-right: 85px !important;
}

.has-margin-90 {
  margin: 90px !important;
}

.has-padding-90 {
  padding: 90px !important;
}

.has-margin-top-90 {
  margin-top: 90px !important;
}

.has-padding-top-90 {
  padding-top: 90px !important;
}

.has-margin-bottom-90 {
  margin-bottom: 90px !important;
}

.has-padding-bottom-90 {
  padding-bottom: 90px !important;
}

.has-margin-left-90 {
  margin-left: 90px !important;
}

.has-padding-left-90 {
  padding-left: 90px !important;
}

.has-margin-right-90 {
  margin-right: 90px !important;
}

.has-padding-right-90 {
  padding-right: 90px !important;
}

.has-margin-95 {
  margin: 95px !important;
}

.has-padding-95 {
  padding: 95px !important;
}

.has-margin-top-95 {
  margin-top: 95px !important;
}

.has-padding-top-95 {
  padding-top: 95px !important;
}

.has-margin-bottom-95 {
  margin-bottom: 95px !important;
}

.has-padding-bottom-95 {
  padding-bottom: 95px !important;
}

.has-margin-left-95 {
  margin-left: 95px !important;
}

.has-padding-left-95 {
  padding-left: 95px !important;
}

.has-margin-right-95 {
  margin-right: 95px !important;
}

.has-padding-right-95 {
  padding-right: 95px !important;
}

.has-margin-100 {
  margin: 100px !important;
}

.has-padding-100 {
  padding: 100px !important;
}

.has-margin-top-100 {
  margin-top: 100px !important;
}

.has-padding-top-100 {
  padding-top: 100px !important;
}

.has-margin-bottom-100 {
  margin-bottom: 100px !important;
}

.has-padding-bottom-100 {
  padding-bottom: 100px !important;
}

.has-margin-left-100 {
  margin-left: 100px !important;
}

.has-padding-left-100 {
  padding-left: 100px !important;
}

.has-margin-right-100 {
  margin-right: 100px !important;
}

.has-padding-right-100 {
  padding-right: 100px !important;
}

.has-margin-105 {
  margin: 105px !important;
}

.has-padding-105 {
  padding: 105px !important;
}

.has-margin-top-105 {
  margin-top: 105px !important;
}

.has-padding-top-105 {
  padding-top: 105px !important;
}

.has-margin-bottom-105 {
  margin-bottom: 105px !important;
}

.has-padding-bottom-105 {
  padding-bottom: 105px !important;
}

.has-margin-left-105 {
  margin-left: 105px !important;
}

.has-padding-left-105 {
  padding-left: 105px !important;
}

.has-margin-right-105 {
  margin-right: 105px !important;
}

.has-padding-right-105 {
  padding-right: 105px !important;
}

.has-margin-110 {
  margin: 110px !important;
}

.has-padding-110 {
  padding: 110px !important;
}

.has-margin-top-110 {
  margin-top: 110px !important;
}

.has-padding-top-110 {
  padding-top: 110px !important;
}

.has-margin-bottom-110 {
  margin-bottom: 110px !important;
}

.has-padding-bottom-110 {
  padding-bottom: 110px !important;
}

.has-margin-left-110 {
  margin-left: 110px !important;
}

.has-padding-left-110 {
  padding-left: 110px !important;
}

.has-margin-right-110 {
  margin-right: 110px !important;
}

.has-padding-right-110 {
  padding-right: 110px !important;
}

.has-margin-115 {
  margin: 115px !important;
}

.has-padding-115 {
  padding: 115px !important;
}

.has-margin-top-115 {
  margin-top: 115px !important;
}

.has-padding-top-115 {
  padding-top: 115px !important;
}

.has-margin-bottom-115 {
  margin-bottom: 115px !important;
}

.has-padding-bottom-115 {
  padding-bottom: 115px !important;
}

.has-margin-left-115 {
  margin-left: 115px !important;
}

.has-padding-left-115 {
  padding-left: 115px !important;
}

.has-margin-right-115 {
  margin-right: 115px !important;
}

.has-padding-right-115 {
  padding-right: 115px !important;
}

.has-margin-120 {
  margin: 120px !important;
}

.has-padding-120 {
  padding: 120px !important;
}

.has-margin-top-120 {
  margin-top: 120px !important;
}

.has-padding-top-120 {
  padding-top: 120px !important;
}

.has-margin-bottom-120 {
  margin-bottom: 120px !important;
}

.has-padding-bottom-120 {
  padding-bottom: 120px !important;
}

.has-margin-left-120 {
  margin-left: 120px !important;
}

.has-padding-left-120 {
  padding-left: 120px !important;
}

.has-margin-right-120 {
  margin-right: 120px !important;
}

.has-padding-right-120 {
  padding-right: 120px !important;
}

.has-margin-125 {
  margin: 125px !important;
}

.has-padding-125 {
  padding: 125px !important;
}

.has-margin-top-125 {
  margin-top: 125px !important;
}

.has-padding-top-125 {
  padding-top: 125px !important;
}

.has-margin-bottom-125 {
  margin-bottom: 125px !important;
}

.has-padding-bottom-125 {
  padding-bottom: 125px !important;
}

.has-margin-left-125 {
  margin-left: 125px !important;
}

.has-padding-left-125 {
  padding-left: 125px !important;
}

.has-margin-right-125 {
  margin-right: 125px !important;
}

.has-padding-right-125 {
  padding-right: 125px !important;
}

.has-margin-130 {
  margin: 130px !important;
}

.has-padding-130 {
  padding: 130px !important;
}

.has-margin-top-130 {
  margin-top: 130px !important;
}

.has-padding-top-130 {
  padding-top: 130px !important;
}

.has-margin-bottom-130 {
  margin-bottom: 130px !important;
}

.has-padding-bottom-130 {
  padding-bottom: 130px !important;
}

.has-margin-left-130 {
  margin-left: 130px !important;
}

.has-padding-left-130 {
  padding-left: 130px !important;
}

.has-margin-right-130 {
  margin-right: 130px !important;
}

.has-padding-right-130 {
  padding-right: 130px !important;
}

.has-margin-135 {
  margin: 135px !important;
}

.has-padding-135 {
  padding: 135px !important;
}

.has-margin-top-135 {
  margin-top: 135px !important;
}

.has-padding-top-135 {
  padding-top: 135px !important;
}

.has-margin-bottom-135 {
  margin-bottom: 135px !important;
}

.has-padding-bottom-135 {
  padding-bottom: 135px !important;
}

.has-margin-left-135 {
  margin-left: 135px !important;
}

.has-padding-left-135 {
  padding-left: 135px !important;
}

.has-margin-right-135 {
  margin-right: 135px !important;
}

.has-padding-right-135 {
  padding-right: 135px !important;
}

.has-margin-140 {
  margin: 140px !important;
}

.has-padding-140 {
  padding: 140px !important;
}

.has-margin-top-140 {
  margin-top: 140px !important;
}

.has-padding-top-140 {
  padding-top: 140px !important;
}

.has-margin-bottom-140 {
  margin-bottom: 140px !important;
}

.has-padding-bottom-140 {
  padding-bottom: 140px !important;
}

.has-margin-left-140 {
  margin-left: 140px !important;
}

.has-padding-left-140 {
  padding-left: 140px !important;
}

.has-margin-right-140 {
  margin-right: 140px !important;
}

.has-padding-right-140 {
  padding-right: 140px !important;
}

.has-margin-145 {
  margin: 145px !important;
}

.has-padding-145 {
  padding: 145px !important;
}

.has-margin-top-145 {
  margin-top: 145px !important;
}

.has-padding-top-145 {
  padding-top: 145px !important;
}

.has-margin-bottom-145 {
  margin-bottom: 145px !important;
}

.has-padding-bottom-145 {
  padding-bottom: 145px !important;
}

.has-margin-left-145 {
  margin-left: 145px !important;
}

.has-padding-left-145 {
  padding-left: 145px !important;
}

.has-margin-right-145 {
  margin-right: 145px !important;
}

.has-padding-right-145 {
  padding-right: 145px !important;
}

.is-top-marginless {
  margin-top: 0 !important;
}

.is-top-paddingless {
  padding-top: 0 !important;
}

.is-bottom-marginless {
  margin-bottom: 0 !important;
}

.is-bottom-paddingless {
  padding-bottom: 0 !important;
}

.is-left-marginless {
  margin-left: 0 !important;
}

.is-left-paddingless {
  padding-left: 0 !important;
}

.is-right-marginless {
  margin-right: 0 !important;
}

.is-right-paddingless {
  padding-right: 0 !important;
}

.has-margin-auto {
  margin: auto !important;
}

.has-margin-top-auto {
  margin-top: auto !important;
}

.has-margin-bottom-auto {
  margin-bottom: auto !important;
}

.has-margin-left-auto {
  margin-left: auto !important;
}

.has-margin-right-auto {
  margin-right: auto !important;
}

/*# sourceMappingURL=bulma-helpers.css.map */
