<section class="panel is-light">
  <div class="panel-header">
    <p>Table of Content</p>
    <span class="fa fa-archive"></span>
  </div>
  <div class="panel-body has-background-white">
    <ul class="panel-list">
      <li><a href="{{ "/quotes/2015/05/15/dashboard-confessional-stolen/" | relURL }}"
            >Dashboard Confessional - Stolen</a></li>
      <li><a href="{{ "/quotes/2015/05/15/dashboard-confessional-vindicated/" | relURL }}"
            >Dashboard Confessional - Vindicated</a></li>
    </ul>
  </div>
</section>
