{{ define "main" }}
  <main role="main" 
        class="column is-full blog-column box-deco
               has-background-white has-text-centered">
    <article class="blog-post">
      <h4 class="title is-4">{{ .Title | default .Site.Title }}</h4>
      {{ .Content }}
    </article>
  </main>
{{ end }}
